.container-fluid{
    background: linear-gradient(to right, #57D6E2, #0450AF);
}

h1{
    font-family: DynaPuff;
    color: #fdd835;
}

body{
    background-color: #4A90E2;
}

footer{
    background-color: #337CDC;
}

.card{
    background-color: #3D3D3D;
}

h2{
    font-family: Bebas Neue;
    color: white;
    font-size: xx-large;
}

h5{
    font-family: Bebas Neue;
    color: white;
    text-align: center;
}

p{
    color: white;
}
